.footer {
   background: #1f2e48;
   text-align: center;
   background: url('../../images/subj-img-geo.jpg') no-repeat;

   &__name {
      padding-top: 20px;
   }
   .container {
      height: 100px;
      background: grey;
   }

}