.footer {
   text-align: center;
/*   background: url('../images/subj-img-geo.jpg') no-repeat;*/

   &__name {
      padding-top: 20px;
   }
   .container {
      height: 100px;
      background: grey;
   }
}